export(echo)
export(roothandler)
import(datamap)
import(tools)
importFrom(interactivity,setInteractive)
importFrom(multicore,collect)
importFrom(multicore,kill)
importFrom(multicore,parallel)
importFrom(opencpu.encode,asJSON)
importFrom(opencpu.encode,fromJSON)
importFrom(opencpu.encode,opencpu.decode)
importFrom(opencpu.encode,opencpu.encode)
importFrom(opencpu.encode,as.scalar)
importFrom(RJSONIO,isValidJSON)
