export(authhandler)
export(echo)
export(homehandler)
export(pubhandler)
export(roothandler)
importFrom(interactivity,setInteractive)
importFrom(opencpu.encode,asJSON)
importFrom(opencpu.encode,as.scalar)
importFrom(opencpu.encode,fromJSON)
importFrom(opencpu.encode,opencpu.decode)
importFrom(opencpu.encode,opencpu.encode)
importFrom(parallel,mccollect)
importFrom(parallel,mcparallel)
importFrom(RJSONIO,isValidJSON)
import(RCurl)
import(tools)
